# Neuron-Forest Fire (Name subject to change)
#### (Built under Python 3.11.4)
#### (By: Mark Ehab Aziz)

Project will be done to build and train a neural network using \<insert library name\>.

So far no idea about anything, will be looking to fix that xd.

In [1]:
# Importing Libraries
import pandas as pd                # Dataframe operations and input
import numpy as np                 # Numerical operations, Linear Alg
import seaborn as sns              # Visualising

In [2]:
# Loading Data
# 1 - Path to Different Folder (I'm using within my Repo)
fire_data = pd.read_csv("../dataset/forestfires.csv")

# 2 - Same-File load
#fire_data = pd.read_csv("./forestfires.csv")

# Data Exploration
Taking a look around the rows and columns, whilst writing some definitions here to explain each column.

## Column Descriptions
- X: Spatial Data Coord for "Montesinho Park" map ranging from $1$ to $9$.
- Y: Spatial Data Coord for "Montesinho Park" map ranging from $2$ to $9$.
- month: Month of the year. ['January' $\rightarrow$ 'December]
- day: Day of the week.
- FFMC: Fine Fuel Moisture Code; represents fuel moisture of forest litter fuels under the shade of a forest canopy.\
        It is intended to represent moisture conditions for shaded litter fuels, the equivalent of 16-hour timelag. It ranges from 0-101.
 
- DMC: The Duff Moisture Code; represents fuel moisture of decomposed organic material underneath the litter.\
        System designers suggest that it is represents moisture conditions for the equivalent of 15-day (or 360 hr) timelag fuels. It is unitless and open ended. 
- DC: Drought Code; represents drying deep into the soil. It approximates moisture conditions for the equivalent of 53-day timelag fuels.\
      It is unitless, with a maximum value of 1000.
- ISI: Initial Spread Index; It integrates fuel moisture for fine dead fuels and surface windspeed to estimate a spread potential.\
        ISI is a key input for fire behavior predictions in the FBP system.
- temp: Temperature in Celsius.
- RH: Relative Humidity in $%$.
- wind: Wind Speed in $km/h$.
- rain: Outside Rain in $mm/m^2$.
- area: Burnt Area in forest in hectares.

In [3]:
# Defining n
n = 5

# Getting first/last n rows
display(fire_data.head(), fire_data.tail())

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
3  8  6   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4  8  6   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
512  4  3   aug  sun  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44
513  2  4   aug  sun  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  54.29
514  7  4   aug  sun  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16
515  1  4   aug  sat  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0   0.00
516  6  3   nov  tue  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0   0.00